@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Importación de estilos base */
@import "./css/base.css";

/* Reset - Estilos globales */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* Colores principales */
  --color-primary---default: #072ac8;
  --color-primary---hover: #a2d6f9;
  --color-primary---tapped: #d1edff;
  --color-primary---accent: #43d2ff;
  --color-secondary---default: #ffc600;
  --color-secondary---accent: #fce300;
  --color-neutral---dark: #292e47;
  --color-neutral---medium: #6b708d;
  --color-neutral---light: #f4f6fc;
  --color-neutral---light--blue: #ecf7ff;
  --color-bg: #f2f4fc;

  /* Tipografía */
  --font-primary: "Roboto", sans-serif;
  /* font size */
  --font-size-base: 1rem;
  --font-size---h1: 60px;
  --font-size---h2: 40px;
  --font-size---h3: 24px;
  --font-size-text---xl: 24px;
  --font-size-text---md: 20px;
  --font-size-text---sm: 17px;
  --font-size-caption--1: 15px;
  --font-size-caption--2: 13px;
  /* font weight */
  --font-weight---regular: 400;
  --font-weight---medium: 500;
  --font-weight---bold: 700;

  /* Espaciados */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Breakpoints */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1200px;
}

/* Estilos globales compartidos */
body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  line-height: 1.5;
  background-color: var(--color-bg);
}
a {
  text-decoration: none;
}
h1 {
  font-size: clamp(var(--font-size---h2), 4vw, var(--font-size---h1));
  font-weight: var(--font-weight---bold);
  color: var(--color-neutral---dark);
  line-height: 1.2;
}
p {
  font-size: var(--font-size-text---md);
  color: var(--color-neutral---medium);
}

/* Utilidades globales */
.container {
  max-width: var(--desktop);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

.hero {
  display: grid;

  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  gap: 4rem;

  .hero__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    .hero__description {
      text-wrap: prety;
      width: 80%;
    }

    .button-group {
      display: flex;
      align-items: center;
      gap: 3rem;

      font-weight: var(--font-weight---bold);

      .button {
        background-color: var(--color-primary---default);
        color: var(--color-neutral---light);
        padding: 0.75rem 1.5rem;
      }
      .button--inactive {
        color: var(--color-neutral---medium);
      }
    }
  }
  .hero__media {
    position: relative;
    display: flex;
    max-width: 100%;
    width: min(45vw, 600px);
    align-items: center;
    aspect-ratio: 1 / 1;

    .hero__image {
      width: 100%;
      height: 100%;
      object-fit: contain; /* Cambiado de 'contain' a 'cover' para llenar el espacio */
    }

    .image__deco{
        position: absolute;
        width: clamp(40%,26vw,60%);
        object-fit: contain;
        aspect-ratio: 1 / 1;


        &.right{
            top:0px;
            left:-80px;
        }

        &.left{
            bottom:-70px;
            right: -80px;
        }
    }

  }
}
